<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white  fixed-top " [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand" href="home">Home</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="scroll(about)" mdbWavesEffect>Over ons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="toShop()" mdbWavesEffect>Online bestellen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="scroll(contact)" mdbWavesEffect>Contact</a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<div class="container">

  <button (click)="bestellingenAfdrukken()" mat-raised-button>Bestellingen afdrukken</button>

  <button (click)="toProducten()" mat-raised-button>Producten beheren</button>

  <button (click)="toWerknemers()" mat-raised-button>Werknemers beheren</button>


  
</div> 