<div class="container">
  <form (ngSubmit)="onSubmitE(eform.value)" #eform="ngForm">
    <mat-form-field>
      <input matInput placeholder="Naam" id="name" [(ngModel)]="name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Functie" id="position" [(ngModel)]="position" name="position">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="URL" id="img_url" [(ngModel)]="img_url" name="img_url">
    </mat-form-field>
    <button mat-flat-button type="submit" color="primary" class="btn btn-success">Verstuur</button>
  </form>

  <form (ngSubmit)="onSubmitC(pform.value)" #cform="ngForm">
    <mat-form-field>
      <input matInput placeholder="Naam" id="name" [(ngModel)]="name" name="name">
    </mat-form-field>
    <button mat-flat-button type="submit" color="primary" class="btn btn-success">Verstuur</button>
  </form>

  <form (ngSubmit)="onSubmitP(pform.value)" #pform="ngForm">
      <mat-form-field>
        <input matInput placeholder="Naam" id="name" [(ngModel)]="name" name="name">
      </mat-form-field>
      <mat-form-field>
          <mat-select class="form-control" id="category" required [(ngModel)]="category" name="category" >
            <div>
                <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option> 
            </div>  
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Foto URL" id="img_url" [(ngModel)]="img_url" name="img_url">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Prijs" id="price" [(ngModel)]="price" name="price">
      </mat-form-field>
      <button mat-flat-button type="submit" color="primary" class="btn btn-success">Verstuur</button>
    </form>
</div> 