<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white  fixed-top " [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand" href="home">Home</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="toHome(about)" mdbWavesEffect>Over ons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="toShop()" mdbWavesEffect>Online bestellen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="toHome(contact)" mdbWavesEffect>Contact</a>
      </li>
    </ul>
      <div class="md-form my-0">
          <a class="nav-link waves-light" mdbWavesEffect (click)="toCart()"><mat-icon>shopping_cart</mat-icon><span class="sr-only">(current)</span></a>
        </div>
  </links>
</mdb-navbar>

<div class="wallp" [hidden]="loading">
  <div class="container">
    <h2 class="display-4">{{category.name}}</h2>
    <img class="imgdiv" src="assets/divider.png">
  
    <div class="row">
      <div class="col-lg-3" *ngFor="let product of products">
        <mat-card  >
          <mat-card-title>{{product.name}}</mat-card-title>
          <img mat-card-image src="assets/products/{{category.name | lowercase}}/{{product.imgUrl}}">
          <button mat-raised-button (click)="addProduct(product)"><mat-icon>shopping_cart</mat-icon> Toevoegen</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>


