

<div #home>
  <mdb-carousel class="carousel slide carousel-fade backgroundimg" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/brood2.png" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/brood3.png" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/brood4.png" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/brood5.png" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
  <div class="logo">
    <mat-card>
      <img mat-card-image src="assets/logo.png"/>
    </mat-card>
  </div>
</div>



<div class="container">

  <div id="about" #about class="row">
    <h2>Over ons en het team</h2><br/>
    <img img-card-image class="thumbnail" src="assets/team.jpg">
      <!--<div class="cards ">
      <mat-card *ngFor="let employee of employees" class="employeecards col">
        <img img-card-image class="cardimg"  src="assets/{{employee.imgUrl}}" ><br>
        <mat-card-title>{{employee.name}}</mat-card-title>
        <mat-card-content>{{employee.position}}</mat-card-content>	
      </mat-card>
    </div> -->

    <div class="row">
      <div class="col-lg-3" *ngFor="let employee of employees">
        <img img-card-image class="cardimg bd-placeholder-img rounded-circle" width="140" height="140" src="assets/{{employee.imgUrl}}" >
        <h2>{{employee.name}}</h2>
        <p>{{employee.position}}</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div>
  <div class="order row" #order>
    <h2>Online bestellen</h2><br/>
  </div>

</div>

<div class="footer">
  <div #contact class="row">
    <h2>Contacteer ons</h2>
    <mat-divider></mat-divider>
    <div class="col">
      <h5>Contactgegevens</h5>
      <label>+324 123 456</label>
      <h5>Adres</h5>
      <label>Stationsstraat 19, 3970 Leopoldsburg</label>
    </div>
    <div class="col">
      <h5>Openingsuren</h5>
      <table>
        <tr>
          <th>Maandag</th>
          <td>6:30</td>
          <td>18:00</td>
        </tr>
        <tr>
          <th>Dinsdag</th>
          <td>6:30</td>
          <td>18:00</td>
        </tr>
        <tr>
          <th>Woensdag</th>
          <td>6:30</td>
          <td>18:00</td>
        </tr>
        <tr>
          <th>Donderdag</th>
          <td>Rustdag</td>
        </tr>
        <tr>
          <th>Vrijdag</th>
          <td>6:30</td>
          <td>18:00</td>
        </tr>
        <tr>
          <th>Zaterdag</th>
          <td>6:30</td>
          <td>18:00</td>
        </tr>
        <tr>
          <th>Zondag</th>
          <td>6:30</td>
          <td>13:00</td>
        </tr>
      </table>
    </div>
    
  </div>

</div>