<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white  fixed-top " [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand" href="home">Home</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="scroll(about)" mdbWavesEffect>Over ons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="toShop()" mdbWavesEffect>Online bestellen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="scroll(contact)" mdbWavesEffect>Contact</a>
      </li>
    </ul>
      <!-- <div class="md-form my-0">
          <a class="nav-link waves-light" mdbWavesEffect (click)="toCart()"><mat-icon>shopping_cart</mat-icon><span class="sr-only">(current)</span></a>
        </div> -->
  </links>
</mdb-navbar>
  

<div #home>
  <mdb-carousel class="carousel slide carousel-fade backgroundimg" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/carousel/brood2.png" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/carousel/brood3.png" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/carousel/brood4.png" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/carousel/brood5.png" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
  <div class="logo">
    <mat-card>
      <img mat-card-image src="assets/logo.png"/>
    </mat-card>
  </div>
</div>


<div class="wallp wallptop">
  <div class="container">

    <div id="about" #about class="row">
      <h2 class="display-4">Over ons en het team</h2><br/>
      <img class="imgdiv" src="assets/divider.png">
      <p><br></p>
      <div class="who">
        <label class="para float-left">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</label>
        <img img-card-image class="img1 rounded float-right" src="assets/employees/team.jpg">
      </div>
      <br>
  
      <div class="row">
        <div class="col-lg-3" *ngFor="let employee of employees">
          <img img-card-image class="cardimg bd-placeholder-img rounded-circle" width="120" height="140" src="assets/employees/{{employee.imgUrl}}" >
          <h2>{{employee.name}}</h2>
          <p>{{employee.position}}</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
    </div>
    <div class="order row" #order>
      <h2 class="display-4">Online bestellen</h2><br/>
      <img class="imgdiv" src="assets/divider.png">
    </div>
  
  </div>
</div>



<div class="footer">
  <div #contact class="row">
    <h2 class="display-4">Contacteer ons</h2>
    <img class="imgdiv" src="assets/dividerwhite.png">
    <div class="col">
      <h5>Contactgegevens</h5>
      <label>+324 123 456</label>
      <h5>Adres</h5>
      <label>Stationsstraat 19, 3970 Leopoldsburg</label>
    </div>
    <div class="col">
      <h5>Openingsuren</h5>
      <table>
        <tr>
          <th>Maandag</th>
          <td>6:30</td>
          <td>18:00</td>
        </tr>
        <tr>
          <th>Dinsdag</th>
          <td>6:30</td>
          <td>18:00</td>
        </tr>
        <tr>
          <th>Woensdag</th>
          <td>6:30</td>
          <td>18:00</td>
        </tr>
        <tr>
          <th>Donderdag</th>
          <td>Rustdag</td>
        </tr>
        <tr>
          <th>Vrijdag</th>
          <td>6:30</td>
          <td>18:00</td>
        </tr>
        <tr>
          <th>Zaterdag</th>
          <td>6:30</td>
          <td>18:00</td>
        </tr>
        <tr>
          <th>Zondag</th>
          <td>6:30</td>
          <td>13:00</td>
        </tr>
      </table>
    </div>
    
  </div>

</div>