<div #home>
  <img class="backgroundimg" src="assets/brood2.png">
  <div class="logo">
    <mat-card>
      <img mat-card-image src="assets/logo.png"/>
    </mat-card>
  </div>
</div>
<div id="about" #about>
  <h2>Over ons</h2>
  <!-- <mat-card *ngFor="let employee of employees" class="employeecards">
    <img img-card-image class="cardimg" src="assets/{{employee.img_url}}"><br>
    <mat-card-title>{{employee.name}}</mat-card-title>
    <mat-card-content>{{employee.function}}</mat-card-content>	
  </mat-card> -->
</div>
<div class="order" #order>
  <h2>Online bestellen</h2>
</div>
<div #contact>
  <h2>Contacteer ons</h2>
  <h5>Contactgegevens</h5>
  <label>+324 123 456</label>
  <h5>Adres</h5>
  <label>kfhkshefke</label>
  <h5>Openingsuren</h5>
  <table>
    <tr>
      <th>Maandag</th>
      <td>6:30</td>
      <td>18:00</td>
    </tr>
    <tr>
      <th>Dinsdag</th>
      <td>6:30</td>
      <td>18:00</td>
    </tr>
    <tr>
      <th>Woensdag</th>
      <td>6:30</td>
      <td>18:00</td>
    </tr>
    <tr>
      <th>Donderdag</th>
      <td>Rustdag</td>
    </tr>
    <tr>
      <th>Vrijdag</th>
      <td>6:30</td>
      <td>18:00</td>
    </tr>
    <tr>
      <th>Zaterdag</th>
      <td>6:30</td>
      <td>18:00</td>
    </tr>
    <tr>
      <th>Zondag</th>
      <td>6:30</td>
      <td>13:00</td>
    </tr>
  </table>
</div>

